* {
    padding: 0;
    margin: 0;
}
body {
    background: #000;
}
form {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}
input {
    width: 220px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}
button {
    width: 230px;
    padding: 5px;
    background: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
}
